HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
**/node_modules/


powersOfTau28_hez_final_17.ptau
**.wtns

### Tex ###
**.aux
**.fdb_latexmk
**.fls
**.log
**.toc
**.synctex(busy)
**.pygtex
**.pygstyle
**.synctex.gz
