<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier 001</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-3" href="#">Verifier 001</a>
        </div>
    </nav>

    <div class="container my-4" style="max-width: 80%">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Parse zkKYC Token
                    </div>
                    <div class="card-body">
                        <form>
                            <textarea type="text" class="form-control mb-3"
                                id="zkkyc-token" placeholder="Input the zkKYC proof here..."
                                style="height:500px;" wrap="off"></textarea>
                            <div class="row" style="display: flex; align-items: center; height:45px">
                                <div class="col-4" style="display:flex; justify-content: center;">
                                    <button type="button" id="paste-btn" class="btn btn-success me-3"
                                        style="height: 40px; width: 160px">Paste Token</button>
                                </div>
                                <div class="col-4" style="display:flex; justify-content: center;">
                                    <button type="button" id="verify-btn" class="btn btn-primary me-3"
                                        style="height: 40px; width: 160px">Verify</button>
                                </div>
                                <div class="col-4" style="display:flex; justify-content: center;">
                                    <button type="button" id="parse-token-btn" class="btn btn-secondary me-3"
                                        style="height: 40px; width: 160px">Parse Token</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Verify zkKYC Token
                    </div>
                    <div class="card-body">
                        <div><label for="parsed">Parsed zkKYC Token:</label></div>
                        <textarea id="parsed" wrap="off" readonly class="form-control mb-3" style="width: 100%; height: 320px" placeholder="Token and proof parsing result will be displayed here."></textarea>
                        <div class="row" style="display: flex; align-items: center; height:45px">
                            <div class="col" style="display:flex; justify-content: center;">
                                <button id="copy-btn" type="button" id="receive-btn" class="btn btn-success me-3"
                                    style="height: 40px; width: 160px">Copy</button>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <p><b>KYC Credential Signed by:</b><div id="pub-i"></div></p>
                            <p><b>Dedicated Token for:</b><div id="did-v"></div></p>
                            <p><b>Holder Peer DID:</b><div id="did-hv"></div></p>
                            <p><b>Decryptable by:</b><div id="pub-g"></div></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        function renderConnections(connections) {
            const tableContent = connections.map(conn => {
                const createdDate = new Date(conn.created_at);
                return `
                <tr>
                    <td>${conn.connection_id}</td>
                    <td>${conn.their_public_did}</td>
                    <td>${conn.my_did}</td>
                    <td>${createdDate.toLocaleDateString()} ${createdDate.toLocaleTimeString()}</td>
                </tr>`;
            });
            $("#conn-table-body").html(tableContent);
        }
        // initial render
    </script>
    <script>
        function leBigInt2Bits(x, nBits) {
            const bits = [];
            for (let i = 0; i < nBits; i++) {
                bits.push(x & 1n);
                x >>= 1n;
            }
            return bits;
        }
        function beBitArray2buffer(a) {
            const len = Math.floor((a.length -1 )/8)+1;
            const b = new Uint8Array(len);

            for (let i=0; i<a.length; i++) {
                const p = Math.floor(i/8);
                b[p] = b[p] | (Number(a[i]) << ( 7 - (i%8)  ));
            }
            return b;
        }
        function uint256ToHex(x) {
            const buf = beBitArray2buffer(leBigInt2Bits(x, 256));
            return Array.from(buf)
                .map((i) => i.toString(16).padStart(2, '0'))
                .join('');
        }
    </script>
    <script>
        $("#paste-btn").click(() => {
            const clipboardText = navigator.clipboard.readText();
            clipboardText.then((text) => {
                $("#zkkyc-token").val(text).change();
                $("#zkkyc-token").focus();
            });

        });

        $("#verify-btn").click(() => {
            $.ajax({
                url: "/verifier/verify-token",
                type: "POST",
                data: JSON.stringify({ token: JSON.parse($("#zkkyc-token").val()) }),
                contentType: "application/json",
                success: (data, status) => {
                    alert(data);
                },
            })
        });

        $("#parse-token-btn").click(() => {

            $.ajax({
                url: "/verifier/parse-token",
                type: "POST",
                data: JSON.stringify({ token: JSON.parse($("#zkkyc-token").val()) }),
                contentType: "application/json",
                success: (data, status) => {
                    console.log("/holder/parse-token response: ", data);
                    $("#parsed").val(JSON.stringify(data, null, 2));
                    $("#pub-i").text(btoa(data.issuerPubKey.map(BigInt).map(uint256ToHex)));
                    $("#did-v").text(data.didV);
                    $("#did-hv").text(data.didHV);
                    $("#pub-g").text(btoa(data.govPubKey.map(BigInt).map(uint256ToHex)));
                    console.log(data.govPubKey.map(BigInt).map(uint256ToHex));
                    console.log(btoa(data.govPubKey.map(BigInt).map(uint256ToHex)));
                },
            })
        });

    </script>
    <script>
        $("#copy-btn").click(() => {
            const clipboardText = navigator.clipboard.writeText($("#parsed").val());
            clipboardText.then(() => {
                $("#parsed").focus();
            });
        });
    </script>
</body>
</html>